<app-home></app-home>
<div class="container">
    <h2>Course Details</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Course Name</th>
          <th>Instructor</th>
          <th>Duration</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Location</th>
          <th>Maximum Capacity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> Python </td>
          <td> Ram </td>
          <td> 3 weeks </td>
          <td> 14-06-24 </td>
          <td>15-07-24 </td>
          <td> chennai </td>
          <td> 30 </td>
      
        </tr>
      </tbody>
    </table>
  </div>
