<app-home></app-home>
<div class="container">
    <h2>Participant List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Job Title</th>
            </tr>
            <tr>
                <th>Panneer</th>
                <th>R</th>
                <th>rps@gmail.com</th>
                <th>Ece</th>
                <th>Engineer</th>
            </tr>
        </thead>
    
    </table>
</div>

